DSN= ""<user>:<pass>@tcp(127.0.0.1:3306)/<dbname>?charset=utf8mb4&parseTime=True&loc=Local""
PORT="XXXX"
CERT_FILE= cert/cert.pem
KEY_FILE= cert/key.pem

//change user, pass and dbname to your own database
//bind cert to your own path